<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">My StarterApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <!-- <Niyati - ml-auto above outs ebeything on roght side, added the below to have Sell stuff tag> -->
          <li class="nav-item">
            <a href="/users/sign_up?user_type=seller" class="nav-link">SELL STUFF</a>
            <!-- <Niyati the '?' means we are going to send a hidden value seller when clicked on this link -->
          </li>
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(about_path) %>">
            <!-- <<Niyati - add the belowv  code i.e.e remove # with / and rename to About and Contacvt>> -->
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <!-- <<niyati - add the belwo code?>> -->
          <% if user_signed_in? %>
            <li class="nav-item">
              <!-- Niyati - remove disabled keyword -->
              <!-- <delete this tag ! <a class="nav-link" href="#">Disabled</a> -->
              <%= link_to '<i class="fa fa-sign-out-alt"></i> Sign out'.html_safe, destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '<i class="fa fa-user-plus"></i> Register'.html_safe, new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '<i class="fa fa-sign-in-alt"></i> Sign in'.html_safe, new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
          <!-- <<end of code>> -->
        </ul>
      </div>
    </nav>
