<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- <<Niyati - added the below> from bootstrap 'Getting Started"'> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <Niyati - deleter the titlet Startertapp and add a ruby tag to render it >> -->
    <title><%= content_for?(:title) ? yield(:title) : 'Default title' %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
